a {
    text-decoration: none;
    font-size: 12px;
}
li{
    list-style: none;
}
/*选择鼠标在链接上面时*/
a:hover{
    color: red;
}
.header {
    width: 100%;
    height: 200px;
}
.header-top{
    height: 30px;
    background: #E3E4E5;
}
.header-top-left{
    width: 400px;
    height: 30px;
    float: left;
}
.header-top-left div{
    width: 400px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    float: left;
}
.header-top-left div a{
    color: darkgray;
}
.header-top-right{
    width: 400px;
    height: 30px;
    float: right;
    line-height: 30px;
    text-align: center;
}
.header-top-right a{
    color: darkgray;
}
.header-bottom{
    height: 130px;
    display: inline-block ;
}
.header-bottom-left{
    width: 400px;
    height: 130px;
    float: left;
}
.header-bottom-left img{
    margin-left: 170px;
    width: 150px;
    height: 130px;
    float: left;
}
.header-bottom-right{
    width: 600px;
    height: 130px;
    float: right;
    margin-left: 500px;
}
.header-bottom-right img{
    width: 100%;
    height: 100%;
}
.division1{
    background-color: red;
    color: red;
    width: 100%;
    height: 2px;
    margin-top: -5px;
}
.division2{
    background-color: red;
    color: red;
    width: 100%;
    height: 4px;
    margin-top: -5px;
}
.header-bottom-right input{
    height: 40px;
    width: 500px;
    border: 2px solid #F30213;
    margin-left: 100px;
}
.header-bottom-right button{
    height: 40px;
    width: 100px;
    font-size: 16px;
    border: 0;
    color: white;
    background: #F30213;
}
.header-down{
    height: 35px;
    background-color: #ece2e2;
}
.header-item{
    height: 35px;
    width: 150px;
    color: white;
    background-color: red;
    font-size: 14px;
    text-align: center;
    line-height: 35px;
    margin-left: 170px;
    margin-top: -20px;
}
.feedback{
    left: 170px;
    margin-top: 20px;
    position: absolute;
    border:5px solid #bcf3ce;
    width: 1100px;
    height: 200px;
}
.feedback .feedback-title{
    width: 1095px;
    height: 30px;
    background-color: #bcf3ce;
    color: black;
}
.feedback-textarea{
    margin-left: 20px;
    margin-top: 20px;
}
.feedback-textarea textarea{
    width: 800px;
}
.satisfaction{
    top: 400px;
    left: 170px;
    margin-top: 20px;
    position: absolute;
    border:5px solid #bcf3ce;
    width: 1100px;
    height: 200px;
}
.satisfaction-title{
    width: 1095px;
    height: 30px;
    background-color: #bcf3ce;
    color: black;
}
.satisfaction-body{
    margin-left: 20px;
    margin-top: 20px;
}
.user-info{
    top: 600px;
    left: 170px;
    margin-top: 20px;
    position: absolute;
    border:5px solid #bcf3ce;
    width: 1100px;
    height: 200px;
}
.user-info-title{
    width: 1095px;
    height: 30px;
    background-color: #bcf3ce;
    color: black;
}
.user-info-input{
    margin-left: 20px;
    margin-top: 20px;
}
.user-info-input div:first-child{
    margin-bottom: 20px;
}

.res-btn{
    top: 800px;
    left: 170px;
    margin-top: 20px;
    position: absolute;
    width: 1100px;
    height: 200px;
}
.res-btn-sub{
    width: 1100px;
    height: 40px;
    background-color: #bcf3ce;
    color: black;
}
.res-btn-sub input{
    position: absolute;
    margin-left: 500px;
}




